/* Contenedores raiz */

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(330deg, #505D90, #e1e6f7);
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

/* Bloque */
.main-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #3f3f3f7d;
}

.screen {
  width: 100%;
  height: 206px;
  background: #677172;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.pad {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
}

/* Elemento */

.screen__primary {
  display: flex;
  align-items: end;
  justify-content: end;
  height: 30%;
  font-size: 64px;
  margin-right: 5px;
}

.screen__secondary {
  margin-bottom: 10px;
  margin-right: 5px;
  font-size: 24px;
  text-align: end;
}

.pad-row {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  gap: 2px;
}

.pad__button {
  width: 65px;
  height: 52px;
  background-color: #ACBCCA;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 32px;
  border: none;
}

.pad__button:hover {
  background-color: #93A0AB;
  cursor: pointer;
}

/* Modificador */

.screen--rounded {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.pad__button--symbol {
  background-color: #FFAB91;
  font-size: 16px;
}

.pad__button--symbol:hover {
  background-color: #D18A75;
}

.pad__button--tr-rounded {
  border-top-right-radius: 10px;
}

.pad__button--tl-rounded {
  border-top-left-radius: 10px;

}

.pad__button--br-rounded {
  border-bottom-right-radius: 10px;
}

.pad__button--bl-rounded {
  border-bottom-left-radius: 10px;

}

/* Genericos */

/* .d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
} */